@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  /* etiqueta raíz */
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  padding-left: 30px;
  padding-right: 30px;
  overflow-x: auto;
  background: whitesmoke;
  transition: .3s ease all; }
  body.dark {
    background: #303a52; }
  body p {
    text-align: justify; }

.flexMain1 {
  display: flex;
  background-color: #B590CA;
  margin-top: 3rem;
  border-radius: 15px; }
  body.dark .flexMain1 {
    background: #9E579D; }
  .flexMain1 .contenedorTexto {
    padding: 1.25rem; }
  .flexMain1 .imagenP {
    width: 80%;
    padding: 1.25rem; }
    .flexMain1 .imagenP img {
      width: 100%; }
  .flexMain1 h1 {
    color: whitesmoke;
    margin-bottom: 1rem;
    font-size: 3.2rem;
    font-weight: bold; }

.flexMain2 {
  display: flex;
  background-color: #B590CA;
  margin-top: 3rem;
  border-radius: 15px; }
  body.dark .flexMain2 {
    background: #9E579D; }
  .flexMain2 .contenedorTexto2 {
    padding: 1.25rem; }
  .flexMain2 .mapa1 {
    padding: 1.25rem; }
    .flexMain2 .mapa1 iframe {
      border-radius: 15px; }
  .flexMain2 h2 {
    color: whitesmoke;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: bold;
    text-align: center; }

#gripMain2 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 200px 60px;
  grid-template-areas: "area2 area3 area4 area5" "area6 area7 area8 area9";
  margin-top: 3rem; }

.opcion1, .opcion2, .opcion3, .opcion4, .opcion, .opcionDos, .opcionTres, .opcionCuatro {
  grid-area: area2;
  justify-self: center;
  align-self: center; }

.opcion2 {
  grid-area: area3; }

.opcion3 {
  grid-area: area4; }

.opcion4 {
  grid-area: area5; }

.opcion {
  grid-area: area6; }

.opcionDos {
  grid-area: area7; }

.opcionTres {
  grid-area: area8; }

.opcionCuatro {
  grid-area: area9;
  margin: 0rem; }

#gripMain2 img {
  width: auto;
  height: auto; }

.rectangulo1 {
  position: absolute;
  width: 95%;
  height: 55px;
  background-color: #f5cab3;
  margin-top: 9rem;
  z-index: -10; }
  body.dark .rectangulo1 {
    background: #FC85AE; }

#gridMain4 {
  display: grid;
  grid-template-columns: auto auto 30% 20%;
  grid-template-rows: 60px auto auto;
  grid-template-areas: "a1 a1 a1 a2" "a3 a3 a4 a4" "a5 a5 a6 a6";
  column-gap: 2rem;
  row-gap: 1.5rem;
  margin-top: 12rem; }

.titulo2 {
  grid-area: a1;
  background-color: #A8D3DA;
  border-radius: 0px 15px 15px 0px;
  align-self: center;
  padding-left: 20px;
  margin-bottom: 80px;
  width: 80%; }
  body.dark .titulo2 {
    background: #574B90; }
    body.dark .titulo2 h3 {
      color: whitesmoke; }
  .titulo2 h3 {
    color: #132c33;
    font-size: 3rem;
    font-weight: bold; }

.contenedorTips1, .contenedorTips2, .contenedorTips3, .contenedorTips4 {
  grid-area: a3;
  background-color: #f5cab3;
  border-radius: 15px; }
  body.dark .contenedorTips1, body.dark .contenedorTips2, body.dark .contenedorTips3, body.dark .contenedorTips4 {
    background: #FC85AE; }
  .contenedorTips1 p, .contenedorTips2 p, .contenedorTips3 p, .contenedorTips4 p {
    padding: 3rem;
    text-align: justify; }

.contenedorTips2 {
  grid-area: a4; }
  .contenedorTips2 p {
    padding: 3rem;
    text-align: justify; }

.contenedorTips3 {
  grid-area: a5; }
  .contenedorTips3 p {
    padding: 3rem;
    text-align: justify; }

.contenedorTips4 {
  grid-area: a6; }
  .contenedorTips4 p {
    padding: 3rem;
    text-align: justify;
    margin-top: 1.875rem; }

.principal2 {
  position: absolute;
  margin-top: 2rem;
  margin-left: 72.5rem; }
  .principal2 img {
    width: 15.625rem;
    z-index: 10; }

footer {
  width: 100%;
  height: auto;
  background-color: #131313;
  margin-top: 2.5rem;
  padding: 0.9375rem;
  border-radius: 10px; }

.contenedorFooter ul {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.125rem; }

.contenedorFooter a:hover {
  transform: scale(1.1); }

.contenedorFooter {
  display: flex;
  justify-content: center;
  height: 3.125rem; }

#gripMain2 a {
  font-size: 2rem;
  background-color: #B590CA;
  border-radius: 15px;
  padding: 8px;
  text-decoration: none;
  color: #132c33;
  font-weight: bold; }
  body.dark #gripMain2 a {
    background: #9E579D; }

#gripMain2 a:hover {
  color: seashell; }

.nav-item a {
  color: #131313 !important;
  font-size: 1.9rem; }
  body.dark .nav-item a {
    color: whitesmoke !important; }
    body.dark .nav-item a:hover {
      color: #9E579D !important; }

.nav-item a:hover {
  color: #B590CA !important; }

.navbar {
  -webkit-box-shadow: 1px 1px 20px 10px #D1D1D1;
  box-shadow: 1px 1px 20px 10px #D1D1D1;
  border-radius: 10px; }
  body.dark .navbar {
    -webkit-box-shadow: 1px 1px 20px 10px #2E2E2E;
    box-shadow: 1px 1px 20px 10px #2E2E2E; }
  .navbar .btn:hover {
    background-color: #B590CA; }
  .navbar .d-flex input {
    font-size: 2rem; }

.contenedorI {
  width: 100%; }

#carouselExampleControls {
  margin-top: 30px; }

.carousel-inner {
  border-radius: 15px; }
  .carousel-inner img {
    border-radius: 15px; }

.switch {
  margin-right: 2rem;
  background: #132c33;
  border-radius: 1000px;
  border: none;
  position: relative;
  outline: none;
  display: flex;
  cursor: pointer; }
  .switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: whitesmoke;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2); }
  .switch.active {
    background: orange;
    color: #fff; }
    .switch.active::after {
      right: 0;
      left: unset; }
  .switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff; }

body {
  font-size: 2rem;
  background: whitesmoke; }
  body.dark {
    background: #303a52; }

#gridAdoptar1 {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto auto;
  grid-template-areas: "area1 area2" "area3 area3";
  margin-top: 6rem; }

.textoAdopcion {
  grid-area: area3;
  margin-top: 6rem;
  background-color: #f5cab3;
  padding: 25px;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 20px 10px #D1D1D1;
  box-shadow: 1px 1px 20px 10px #D1D1D1; }
  body.dark .textoAdopcion {
    background: #FC85AE;
    -webkit-box-shadow: 1px 1px 20px 10px #2E2E2E;
    box-shadow: 1px 1px 20px 10px #2E2E2E; }
  .textoAdopcion p {
    text-align: justify;
    color: #132c33;
    font-size: 2.5rem;
    font-weight: bold; }

.contenedorAdopcion {
  background-image: url(../img/FONDO.jpg);
  width: 60%;
  border-radius: 30px;
  height: 100%;
  grid-area: area1;
  justify-self: center;
  padding: 2rem;
  -webkit-box-shadow: 1px 1px 20px 10px #D1D1D1;
  box-shadow: 1px 1px 20px 10px #D1D1D1; }
  body.dark .contenedorAdopcion {
    background: #FC85AE;
    -webkit-box-shadow: 1px 1px 20px 10px #2E2E2E;
    box-shadow: 1px 1px 20px 10px #2E2E2E; }
  .contenedorAdopcion h2 {
    text-align: center;
    color: #132c33;
    font-size: 30px;
    font-weight: bold; }
  .contenedorAdopcion ul {
    text-align: center;
    list-style: none; }
    .contenedorAdopcion ul li {
      font-weight: bold;
      line-height: 5rem; }

.imgAdopcion {
  justify-self: left;
  margin-top: 2.5rem;
  grid-area: area2; }

#gridAdoptar2 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 40px auto 50px auto 50px;
  grid-template-areas: "a1 a1 a1 a1" "a2 a3 a4 a5" "a8 a9 a10 a11" "a14 a15 a16 a17" "a20 a21 a22 a23";
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 70px;
  margin-right: 30px; }
  #gridAdoptar2 h4 {
    text-align: center;
    background-color: #B590CA;
    width: 100%;
    height: 30px;
    font-weight: bold;
    border-radius: 0px 0px 25px 25px;
    font-size: 2rem; }
    body.dark #gridAdoptar2 h4 {
      background: #9E579D; }
  #gridAdoptar2 img {
    width: 100%;
    vertical-align: top;
    border-radius: 20px 20px 0px 0px; }
  #gridAdoptar2 a {
    text-decoration: none;
    color: #132c33;
    font-size: 2rem;
    font-weight: bold;
    padding: 1.5rem; }
    body.dark #gridAdoptar2 a {
      color: whitesmoke; }
    #gridAdoptar2 a:hover {
      color: #B590CA; }

.tituloPerro {
  grid-area: a1;
  background-color: #B590CA;
  width: 50%;
  border-radius: 0px 15px 15px 0px;
  padding-left: 0.9375rem; }
  body.dark .tituloPerro {
    background: #9E579D; }
  .tituloPerro h3 {
    font-size: 3rem;
    font-weight: bold; }
    body.dark .tituloPerro h3 {
      color: whitesmoke; }

.imagen1 {
  grid-area: a2; }

.imagen2 {
  grid-area: a3; }

.imagen3 {
  grid-area: a4; }

.imagen4 {
  grid-area: a5; }

.imagen5 {
  grid-area: a14; }

.imagen6 {
  grid-area: a15; }

.imagen7 {
  grid-area: a16; }

.imagen8 {
  grid-area: a17; }

.info1, .info2, .info3, .info4, .info5, .info6, .info7, .info8 {
  grid-area: a8;
  justify-self: center;
  align-self: center;
  background-color: #A8D3DA;
  border-radius: 15px;
  padding: 0.3125rem;
  margin-bottom: 0.5rem; }
  body.dark .info1, body.dark .info2, body.dark .info3, body.dark .info4, body.dark .info5, body.dark .info6, body.dark .info7, body.dark .info8 {
    background-color: #574B90; }

.info2 {
  grid-area: a9; }

.info3 {
  grid-area: a10; }

.info4 {
  grid-area: a11; }

.info5 {
  grid-area: a20; }

.info6 {
  grid-area: a21; }

.info7 {
  grid-area: a22; }

.info8 {
  grid-area: a23; }

#gridAdoptar3 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 40px auto 50px auto 50px;
  grid-template-areas: "a1 a1 a1 a1" "a2 a3 a4 a5" "a8 a9 a10 a11" "a14 a15 a16 a17" "a20 a21 a22 a23";
  column-gap: 0.625rem;
  row-gap: 0.625rem;
  margin-top: 3.125rem;
  margin-right: 1.875rem;
  margin-bottom: 3.125rem; }
  #gridAdoptar3 h4 {
    text-align: center;
    background-color: #b590ca;
    width: 100%;
    height: 30px;
    border-radius: 0px 0px 25px 25px;
    font-weight: bolder;
    font-size: 2rem; }
  #gridAdoptar3 img {
    width: 100%;
    vertical-align: top;
    border-radius: 20px 20px 0px 0px; }
  #gridAdoptar3 a {
    text-decoration: none;
    color: #132c33;
    font-size: 2rem;
    font-weight: bold;
    padding: 1.5rem; }
    body.dark #gridAdoptar3 a {
      color: whitesmoke; }
    #gridAdoptar3 a:hover {
      color: #B590CA; }

.tituloGato {
  grid-area: a1;
  background-color: #B590CA;
  width: 50%;
  padding-left: 0.3125rem;
  border-radius: 0px 15px 15px 0px; }
  body.dark .tituloGato {
    background: #9E579D; }
  .tituloGato h3 {
    font-weight: bold;
    font-size: 3rem; }
    body.dark .tituloGato h3 {
      color: whitesmoke; }

.imagen9 {
  grid-area: a2; }

.imagen10 {
  grid-area: a3; }

.imagen11 {
  grid-area: a4; }

.imagen12 {
  grid-area: a5; }

.imagen13 {
  grid-area: a14; }

.imagen14 {
  grid-area: a15; }

.imagen15 {
  grid-area: a16; }

.imagen16 {
  grid-area: a17; }

.info9, .info10, .info11, .info12, .info13, .info14, .info15, .info16 {
  grid-area: a8;
  justify-self: center;
  align-self: center;
  background-color: #A8D3DA;
  border-radius: 15px;
  padding: 0.3125rem;
  margin-bottom: 0.5rem; }
  body.dark .info9, body.dark .info10, body.dark .info11, body.dark .info12, body.dark .info13, body.dark .info14, body.dark .info15, body.dark .info16 {
    background-color: #574B90; }

.info10 {
  grid-area: a9; }

.info11 {
  grid-area: a10; }

.info12 {
  grid-area: a11; }

.info13 {
  grid-area: a20; }

.info14 {
  grid-area: a21; }

.info15 {
  grid-area: a22; }

.info16 {
  grid-area: a23; }

body {
  font-size: 2rem;
  background: whitesmoke; }
  body.dark {
    background: #303A52; }

#gridDonar {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 200px 100px  100px  100px  100px  100px;
  grid-template-areas: "area1" "area2" "area3" "area4" "area5" "area6";
  margin-top: 3.125rem; }

.imgDon {
  grid-area: area1;
  justify-self: center; }
  .imgDon img {
    width: 200px; }

.contenedorGranito {
  grid-area: area2;
  justify-self: center;
  margin-top: 0.9375rem; }
  .contenedorGranito p {
    color: #132c33;
    font-size: 3rem;
    font-weight: bold; }
    body.dark .contenedorGranito p {
      color: whitesmoke; }

.contenedorAyuda, .contenedorDonar {
  grid-area: area3;
  justify-self: center;
  text-align: center;
  margin-top: 0.125rem;
  width: 100%; }
  .contenedorAyuda strong, .contenedorDonar strong {
    color: #132c33; }
    body.dark .contenedorAyuda strong, body.dark .contenedorDonar strong {
      color: whitesmoke; }
  .contenedorAyuda h2, .contenedorDonar h2 {
    margin-bottom: 0.9375rem;
    background-color: #f5cab3;
    border-radius: 15px;
    color: #132c33;
    font-size: 3rem;
    font-weight: bold; }
    body.dark .contenedorAyuda h2, body.dark .contenedorDonar h2 {
      background: #FC85AE; }

.contenedorPago {
  grid-area: area4;
  justify-self: center;
  margin-top: 2.8125rem; }
  .contenedorPago a {
    text-decoration: none;
    font-size: 20px;
    background-color: #B590CA;
    border-radius: 1.5rem;
    padding: 8px;
    text-decoration: none;
    color: #132c33;
    font-weight: bold; }
    body.dark .contenedorPago a {
      font-size: 20px;
      background-color: #9E579D;
      border-radius: 1.5rem;
      padding: 8px; }
    .contenedorPago a:hover {
      color: azure; }

.contenedorDonar {
  grid-area: area5; }
  .contenedorDonar p {
    font-size: 2rem;
    margin-top: 0.9375rem;
    text-align: center;
    font-weight: bold; }
    body.dark .contenedorDonar p {
      color: whitesmoke; }
  .contenedorDonar h3 {
    background-color: #f5cab3;
    border-radius: 15px;
    color: #132c33;
    font-size: 3rem;
    font-weight: bold; }
    body.dark .contenedorDonar h3 {
      background: #FC85AE; }

.botonDonar {
  grid-area: area6;
  margin-top: 2rem; }

.mx-auto {
  background-color: #B590CA;
  border-radius: 15px; }
  body.dark .mx-auto {
    background: #9E579D; }

.btn-group-lg > .btn, .btn-lg {
  font-size: 2rem;
  font-weight: bold;
  color: #132c33; }
  .btn-group-lg > .btn:hover, .btn-lg:hover {
    color: azure; }
  body.dark .btn-group-lg > .btn:hover, body.dark .btn-lg:hover {
    color: azure; }

#gridSesion {
  display: grid;
  grid-template-columns: 30%;
  grid-template-rows: 100px 330px;
  grid-template-areas: "a1" "a2";
  justify-content: center;
  margin-top: 2rem; }

.imagenS {
  grid-area: a1;
  justify-self: center; }
  .imagenS img {
    width: 100px; }

#formInicioSesion {
  background-color: #A8D3DA;
  width: 100%;
  border-radius: 15px;
  height: auto;
  grid-area: a2;
  padding-left: 20px;
  padding-right: 20px; }
  body.dark #formInicioSesion {
    background: #574B90; }
  #formInicioSesion input {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem; }
  #formInicioSesion label {
    font-weight: bold; }
  #formInicioSesion #emailHelp {
    font-size: 1.5rem;
    text-align: center;
    display: inline-block; }
  #formInicioSesion .form-label1 {
    margin-top: 2rem; }
  #formInicioSesion .btn {
    width: 100%;
    margin-top: 20px;
    padding: 0; }
  #formInicioSesion .btn-primary {
    font-size: 2rem;
    width: 100%;
    margin-bottom: 1rem;
    background: #B590CA;
    border: #B590CA;
    margin: 0;
    padding: 0;
    height: 50px; }
    #formInicioSesion .btn-primary:hover {
      background: #a987bd; }
  #formInicioSesion a {
    margin-top: 2rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    display: inline-block;
    color: #132c33; }
    #formInicioSesion a:hover {
      color: whitesmoke; }
    body.dark #formInicioSesion a {
      color: whitesmoke; }
      body.dark #formInicioSesion a:hover {
        color: #adaaaa; }
  #formInicioSesion .form-check {
    width: 90%;
    margin-left: auto;
    margin-right: auto; }

#formInicioSesion form .btn {
  margin-left: 0px; }

.formu .row {
  width: 550px;
  margin: 30px auto; }

.formu .col {
  width: 250px;
  float: left; }

.formu .col.left {
  font-family: Arial, sans-serif;
  text-shadow: 1px 1px 0px #fff;
  color: #333;
  padding-bottom: 10px; }

.formu .col.right {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid #aaa; }

.formu h1 {
  font-weight: 100;
  margin: 0; }

.formu .btn {
  background-color: #8E8E8E;
  border: 0;
  border-radius: 3px;
  color: #FFF;
  cursor: pointer;
  box-shadow: 2px 2px 2px #111;
  width: 100%;
  height: 40px;
  text-align: left;
  position: relative;
  padding: 0;
  margin: 10px 0; }

.formu .btn span {
  font-size: 16px;
  line-height: 40px; }

.formu .btn:active {
  top: 1px;
  box-shadow: 1px 1px 2px #000; }

.formu .btn i {
  margin-right: 10px; }

.formu .facebook {
  background-color: #3B5998; }

.formu .facebook i {
  float: left;
  width: 44px;
  height: 40px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAoCAYAAACFFRgXAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAN1JREFUeNpi/P//P8NQAoyjDh518KiDRx086uBh62AtIOZE4r8A4qcUmwpyMJWxKxA//I8J2qlhPguVQ9UMiLcAMRutoo2Jyub10tKxtEjDb4FYCIn/C4jXA/FHIN4BZQ8qB38AYn4k/kQgLhjMSQIdfB/saXhIlMMGQDwHic2MJHcBiE8h8ZsoLYup4WAbID5MhLq/QMxLaTKhZ5K4SY00TU8HX6CKKVSulh/SojpGxkOulBh18KiDRx086uDRxg9eoIvW46BOx3O0mz/q4FEHjzp41MGjDiYXAAQYAJmVcB6iaE2HAAAAAElFTkSuQmCC") no-repeat center center; }

.formu .twitter {
  background-color: #1CB5E8; }

.formu .twitter i {
  float: left;
  width: 44px;
  height: 40px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAoCAYAAACFFRgXAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAi5JREFUeNrs2M1LVFEYx3GvDoWvEKSMhhqBSrhQjCwXRuDKjbVoIYgQbVy0CXduWgT+BS5cSgUJvdmmVb4giIHRSpTEUjcGLnwtDUy7fQ88wnVQ5zlzzyyE88AHFY7n/uaZc+85M0EYhjnnqXJzzln5wD6wD+wD+8DWdRV9+IxFfMRDFETGFKFBNZvZ6ZTuotFivHELX/EvPF4HeIU6tGEEzzRzai9chHG5eJXyf2qwEJ5dO/JzCmWaebVLogQVaMJ7NKcZn4cnqE0zrhjbWECvyzUcSAhTN/ABj3HhlPGluK+c26zlLqy5XMMlGE15O826nEYnLiOIjK89Yd2eVht4oL0vEsou7OAN2lK63iLm8Akz+IFL+HvGOxCtbxjXPnISFuNe4yYeSdho1QtTm/gdWUKaynP9HE5iQH5fTzPWdLfSIsRP7Lru8B6uy1Pi0PHG8l3md9rhDby0ffs09zzms7U1v8A7x91dli07K4FNl3vQj1XpTtyalCWRtcOPWWtLcqG9mGHNo/K57QtPWF5kH/fQ4aC7I/LCLVe93enLqMaXMF4tWRyiMjqtnRR6EKv4Yxl2C+0ZXjfjwEeuYdgi7C664lxTOzA35e+kHLzfYl8Zdg3dMRukvunuoBX5svU2y66nrTE8xXTcO1Ub2Oz3F+WzWLnF/BMYkvPzLxc7TWD57WVSDvCm47dxBYXyPD+QUCvSSRN2Flsut8bAf93qA/vAPrAP7APb1H8BBgDZp0G+vm9PBgAAAABJRU5ErkJggg==") no-repeat center center; }

.formu .plus {
  padding-left: 54px;
  background-color: #393838; }

.formu .plus .i {
  border-radius: 3px;
  position: absolute;
  border-top: 8px solid #D64335;
  width: 44px;
  top: 0;
  bottom: 0;
  left: 0;
  margin-left: 0;
  border-right: 1px solid #343434;
  line-height: 26px; }

.formu .plus i:before {
  content: "g";
  font: 26px "Palatino Linotype", Georgia, serif;
  text-shadow: 1px 1px 1px #444;
  line-height: 0px;
  margin-left: 10px; }

.formu .plus i:after {
  content: "+";
  border-left: 11px solid #426AAD;
  background-color: #32A45E;
  border-right: 11px solid #F8CA32;
  width: 11px;
  font: 18px "Palatino Linotype", Georgia, serif;
  line-height: 38px;
  position: absolute;
  top: -8px;
  left: 12px;
  height: 8px; }

body {
  font-size: 2rem;
  background: whitesmoke; }
  body.dark {
    background: #303A52; }

.formuAdo {
  border: #b7c6ca 1px solid;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  padding: 1.875rem; }
  body.dark .formuAdo {
    border: whitesmoke 1px solid; }
  .formuAdo input {
    font-size: 2rem; }
  .formuAdo .form-select {
    font-size: 2rem; }
  .formuAdo .btn {
    font-size: 2rem;
    width: 100%;
    background-color: #B590CA;
    border: #B590CA; }
    .formuAdo .btn:hover {
      background: #a987bd; }
    body.dark .formuAdo .btn {
      background: #9E579D; }
      body.dark .formuAdo .btn:hover {
        background: #a987bd; }
  .formuAdo label {
    color: #132c33; }
    body.dark .formuAdo label {
      color: whitesmoke; }

.tituloAdo h2 {
  color: #B590CA;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.875rem; }
  body.dark .tituloAdo h2 {
    color: #9E579D;
    font-size: 4rem;
    font-weight: bold; }

#flexTransito {
  display: flex;
  justify-content: center;
  justify-content: space-evenly; }

.contenedorConseguir {
  background-color: #a8d3da;
  height: auto;
  align-self: center;
  padding: 1.875rem;
  width: 30%;
  border-radius: 30px;
  font-weight: bold;
  margin-left: 7.5rem;
  -webkit-box-shadow: 1px 1px 20px 10px #D1D1D1;
  box-shadow: 1px 1px 20px 10px #D1D1D1; }
  body.dark .contenedorConseguir {
    background: #FC85AE;
    -webkit-box-shadow: 1px 1px 20px 10px #2E2E2E;
    box-shadow: 1px 1px 20px 10px #2E2E2E;
    background: #574B90; }
  .contenedorConseguir p {
    text-align: center;
    color: #132c33; }
    body.dark .contenedorConseguir p {
      color: whitesmoke; }

.contenedorTransito {
  margin-right: 3.125rem; }

.formuTran .row {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border: #b7c6ca 1px solid;
  padding: 0.3125rem;
  border-radius: 15px;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem; }

.formuTran input {
  font-size: 2rem; }

.formuTran .btn {
  font-size: 2rem;
  width: 100%;
  margin-bottom: 1rem;
  background-color: #B590CA;
  border: #B590CA; }
  .formuTran .btn:hover {
    background: #a987bd; }
  body.dark .formuTran .btn {
    background: #9E579D; }
    body.dark .formuTran .btn:hover {
      background: #a987bd; }

.formuTran h2 {
  text-align: center;
  font-weight: bold;
  color: #132c33; }
  body.dark .formuTran h2 {
    color: whitesmoke; }

.formuTran label {
  color: #132c33; }
  body.dark .formuTran label {
    color: whitesmoke; }

#gridContac {
  display: grid;
  grid-template-columns: 30% 15%;
  grid-template-rows: 700px;
  grid-template-areas: "a1 a2";
  justify-content: center; }

.formContac {
  grid-area: a1;
  background-color: #A8D3DA;
  border-radius: 1.5rem;
  margin-top: 3rem;
  padding: 2rem; }
  body.dark .formContac {
    background: #574B90; }
  .formContac input {
    font-size: 2rem; }
  .formContac .form-select {
    font-size: 2rem; }
  .formContac label {
    font-weight: bold;
    color: #132c33; }
    body.dark .formContac label {
      color: whitesmoke; }
  .formContac legend {
    font-weight: bold;
    font-size: 2.5rem;
    color: #132c33; }
    body.dark .formContac legend {
      color: whitesmoke; }
  .formContac .btn {
    width: 100%;
    font-size: 2rem;
    background-color: #B590CA;
    border: #B590CA; }
    .formContac .btn:hover {
      background: #a987bd; }
    body.dark .formContac .btn {
      background: #9E579D; }
      body.dark .formContac .btn:hover {
        background: #a987bd; }
  .formContac .form-control {
    font-size: 2rem; }

.gatoLado {
  grid-area: a2;
  margin-right: 100px;
  margin-top: 50px; }
  .gatoLado img {
    grid-area: a2;
    width: 200px;
    margin-right: 200px; }

@media (max-width: 768px) {
  /*index*/
  body {
    font-size: 1rem;
    padding: 0;
    overflow-x: hidden;
    overflow-y: visible; }
  .navbar .navbar-toggler {
    font-size: 2.5rem; }
  .navbar li {
    font-size: 2rem; }
  .mapa1 iframe {
    width: 100%; }
  .flexMain1 {
    flex-direction: column-reverse; }
    .flexMain1 h1 {
      font-size: 2rem;
      text-align: center; }
    .flexMain1 .imagenP {
      margin-left: auto;
      margin-right: auto;
      width: 40%; }
  .flexMain2 {
    flex-direction: column-reverse; }
    .flexMain2 h2 {
      font-size: 2rem; }
  #gripMain2 {
    grid-template-columns: 50% 50%;
    grid-template-rows: 200px 60px 200px 60px;
    grid-template-areas: "area2 area3"  "area6 area7" "area4 area5"  "area8 area9";
    margin-top: 2.5rem; }
  #gridMain4 {
    grid-template-columns: auto auto;
    grid-template-rows: 60px auto auto;
    grid-template-areas: "a1 a1" "a3 a4" "a5 a6"; }
    #gridMain4 .contenedorTips1, #gridMain4 .contenedorTips2, #gridMain4 .contenedorTips3, #gridMain4 .contenedorTips4 {
      padding: 15px;
      margin: 0; }
      #gridMain4 .contenedorTips1 p, #gridMain4 .contenedorTips2 p, #gridMain4 .contenedorTips3 p, #gridMain4 .contenedorTips4 p {
        padding: 0px;
        margin: 0;
        padding: 0.625rem; }
    #gridMain4 h3 {
      font-size: 2.5rem; }
  .principal2 {
    margin-top: 0;
    margin-left: 48rem; }
    .principal2 img {
      display: none; }
  #gripMain2 .opcion1 img, #gripMain2 .opcion2 img, #gripMain2 .opcion3 img, #gripMain2 .opcion4 img, #gripMain2 .opcion img, #gripMain2 .opcionDos img, #gripMain2 .opcionTres img, #gripMain2 .opcionCuatro img {
    width: 180px; }
  #gripMain2 a {
    font-size: 1.5rem; }
  .rectangulo1 {
    margin-top: 22.5rem; }
  /*adopcion*/
  #gridAdoptar1 {
    grid-template-columns: 50% 30%;
    grid-template-rows: auto auto;
    justify-content: center; }
    #gridAdoptar1 .imgAdopcion {
      align-self: center; }
      #gridAdoptar1 .imgAdopcion img {
        width: 150px; }
    #gridAdoptar1 h2 {
      font-size: 2rem; }
    #gridAdoptar1 .textoAdopcion {
      width: 100%;
      margin-left: 1.25rem;
      margin-top: 2rem; }
      #gridAdoptar1 .textoAdopcion p {
        font-size: 2rem; }
  #gridAdoptar2 {
    margin-top: 2rem;
    grid-template-rows: auto auto auto auto auto; }
    #gridAdoptar2 h3 {
      font-size: 2rem; }
    #gridAdoptar2 a {
      font-size: 1.5rem; }
  #gridAdoptar3 {
    margin-top: 1rem;
    grid-template-rows: auto auto auto auto auto; }
    #gridAdoptar3 h3 {
      font-size: 2rem; }
    #gridAdoptar3 a {
      font-size: 1.5rem; }
  /*formularioAdopcion*/
  .formuAdo {
    width: 60%; }
    .formuAdo input {
      font-size: 1.5rem; }
    .formuAdo .form-select {
      font-size: 1.5rem; }
    .formuAdo .btn {
      font-size: 2rem; }
  .tituloAdo h2 {
    color: #B590CA;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.875rem;
    margin-top: 1.25rem; }
  /*donaciones*/
  p {
    font-size: 2rem; }
  .contenedorDonar p {
    font-size: 2rem; }
  .botonDonar {
    margin-top: 0; }
    .botonDonar a {
      font-size: 1.5rem;
      background-color: #B590CA;
      border-radius: 2rem;
      padding: 8px; }
  .contenedorDonar {
    margin-top: 0px; }
    .contenedorDonar h3 {
      color: #132c33;
      font-size: 2.5rem;
      font-weight: bold; }
  .contenedorAyuda h2, .contenedorDonar h2 {
    color: #132c33;
    font-size: 2.5rem;
    font-weight: bold; }
  .contenedorAyuda strong, .contenedorDonar strong {
    font-size: 2rem; }
  .contenedorGranito p {
    font-size: 2.5rem;
    text-align: center; }
  .contenedorPago {
    margin-top: 2rem; }
    .contenedorPago a {
      font-size: 1.5rem;
      background-color: #B590CA;
      border-radius: 2rem;
      padding: 8px; }
  .contenedorPago {
    height: 2px; }
  #gridDonar {
    grid-template-rows: 200px 100px  100px  50px  130px  100px; }
  /*transito*/
  #flexTransito {
    flex-direction: column;
    justify-content: center; }
  .contenedorConseguir {
    width: 70%;
    margin-top: 20px;
    margin-left: 0px; }
    .contenedorConseguir p {
      font-size: 1.5rem; }
  .formuTran .row {
    width: 70%; }
  .formuTran input {
    font-size: 1.5rem; }
  .formuTran .btn {
    font-size: 2rem; }
  /*contacto*/
  .formContac {
    grid-area: a1;
    background-color: #A8D3DA;
    border-radius: 1.5rem;
    margin-top: 3rem;
    padding: 2rem; }
    .formContac input {
      font-size: 1.5rem; }
    .formContac .form-select {
      font-size: 1.5rem; }
    .formContac label {
      font-weight: bold; }
    .formContac legend {
      font-weight: bold;
      font-size: 1.5rem; }
    .formContac .btn {
      width: 100%;
      font-size: 1.5rem; }
    .formContac .form-control {
      font-size: 1.5rem; }
  .gatoLado {
    grid-area: a2;
    margin-right: 100px;
    margin-top: 50px; }
    .gatoLado img {
      grid-area: a2;
      width: 130px;
      margin-right: 200px; }
  #gridContac {
    display: grid;
    grid-template-columns: 50% 15%;
    grid-template-rows: auto;
    justify-content: center; }
  /*inicio de sesion*/
  #gridSesion {
    grid-template-columns: 50%; }
  #formInicioSesion {
    height: auto;
    font-size: 1.5rem; }
    #formInicioSesion form label {
      margin-left: 120px; }
    #formInicioSesion form .btn {
      margin-left: 8px;
      font-size: 1.5rem; }
    #formInicioSesion form a {
      margin-left: 60px; }
  #formInicioSesion form .btn {
    margin-left: 0px; }
  #formInicioSesion form a {
    margin-left: 0px; } }

@media (max-width: 600px) {
  /*index*/
  body {
    font-size: 1rem;
    padding: 0;
    overflow-x: hidden;
    overflow-y: visible; }
  .rectangulo1 {
    width: 100%;
    margin-top: 22.5rem; }
  .navbar .navbar-toggler {
    font-size: 2.5rem; }
  .navbar li {
    font-size: 2rem; }
  .flexMain1 {
    flex-direction: column-reverse; }
    .flexMain1 h1 {
      font-size: 2rem;
      text-align: center; }
    .flexMain1 .imagenP {
      margin-left: auto;
      margin-right: auto;
      width: 40%; }
    .flexMain1 p {
      font-size: 1.5rem; }
  .flexMain2 {
    flex-direction: column-reverse; }
    .flexMain2 h2 {
      font-size: 2rem; }
    .flexMain2 .mapa1 iframe {
      width: 100%; }
    .flexMain2 p {
      font-size: 1.5rem; }
  .flexMain2 {
    flex-direction: column-reverse; }
    .flexMain2 h2 {
      font-size: 2rem; }
    .flexMain2 .mapa1 iframe {
      width: 100%; }
  #gripMain2 {
    grid-template-columns: 50% 50%;
    grid-template-rows: 200px 60px 200px 60px;
    grid-template-areas: "area2 area3"  "area6 area7" "area4 area5"  "area8 area9";
    margin-top: 2.5rem; }
    #gripMain2 .opcion1 img, #gripMain2 .opcion2 img, #gripMain2 .opcion3 img, #gripMain2 .opcion4 img, #gripMain2 .opcion img, #gripMain2 .opcionDos img, #gripMain2 .opcionTres img, #gripMain2 .opcionCuatro img {
      width: 150px; }
    #gripMain2 a {
      font-size: 1.2rem; }
    #gripMain2 .titulo2 h3 {
      font-size: 1rem; }
  #gridMain4 {
    grid-template-columns: auto;
    grid-template-rows: 60px auto auto auto auto;
    grid-template-areas: "a1" "a3" "a4" "a5" "a6";
    margin-top: 1.5rem; }
    #gridMain4 .contenedorTips1, #gridMain4 .contenedorTips2, #gridMain4 .contenedorTips3, #gridMain4 .contenedorTips4 {
      padding: 1.5rem;
      margin: 0; }
      #gridMain4 .contenedorTips1 p, #gridMain4 .contenedorTips2 p, #gridMain4 .contenedorTips3 p, #gridMain4 .contenedorTips4 p {
        padding: 0px;
        margin: 0;
        padding: 0.625rem;
        font-size: 1.5rem; }
    #gridMain4 h3 {
      font-size: 1.8rem; }
  .principal2 img {
    display: none; }
  .titulo2 {
    width: 80%;
    margin-bottom: 1.5rem; }
  .contenedorFooter {
    align-items: center; }
    .contenedorFooter a {
      margin-right: 0.625rem; }
    .contenedorFooter img {
      width: 20px; }
  /*Adoptar*/
  #gridAdoptar1 {
    grid-template-columns: 50% 30%;
    grid-template-rows: auto 200px;
    justify-content: center;
    grid-template-areas: "area1 area2" "area3 area3"; }
    #gridAdoptar1 .imgAdopcion {
      margin-left: 2rem; }
      #gridAdoptar1 .imgAdopcion img {
        width: 150px; }
    #gridAdoptar1 h2 {
      font-size: 1.5rem; }
    #gridAdoptar1 .textoAdopcion {
      width: 100%;
      margin-left: 1.25rem;
      margin-top: 2rem; }
      #gridAdoptar1 .textoAdopcion p {
        font-size: 1.6rem; }
  .contenedorAdopcion {
    width: 100%; }
  #gridAdoptar2 {
    margin-top: 2rem;
    grid-template-rows: auto auto auto auto auto; }
    #gridAdoptar2 h3 {
      font-size: 1.5rem; }
    #gridAdoptar2 a {
      font-size: 1rem; }
  #gridAdoptar3 {
    margin-top: 1rem;
    grid-template-rows: auto auto auto auto auto; }
    #gridAdoptar3 h3 {
      font-size: 1.5rem; }
    #gridAdoptar3 a {
      font-size: 1rem; }
  /*formulario adopción*/
  .formuAdo {
    width: 60%; }
    .formuAdo input {
      font-size: 1rem; }
    .formuAdo .form-select {
      font-size: 1rem; }
    .formuAdo .btn {
      font-size: 1rem; }
  .tituloAdo h2 {
    color: #B590CA;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.875rem;
    margin-top: 1.25rem; }
  /*donaciones*/
  p {
    font-size: 1.5rem; }
  .contenedorDonar p {
    font-size: 1.5rem; }
  .botonDonar {
    margin-top: 0; }
    .botonDonar a {
      font-size: 1rem;
      background-color: #B590CA;
      border-radius: 1.5rem;
      padding: 8px; }
  .contenedorDonar {
    margin-top: 0px; }
    .contenedorDonar h3 {
      color: #132c33;
      font-size: 2rem;
      font-weight: bold; }
    .contenedorDonar p {
      font-size: 1.5rem; }
  .contenedorAyuda h2, .contenedorDonar h2 {
    color: #132c33;
    font-size: 2rem;
    font-weight: bold; }
  .contenedorAyuda strong, .contenedorDonar strong {
    font-size: 1.5rem; }
  .contenedorGranito p {
    font-size: 2rem;
    text-align: center; }
  .contenedorPago {
    margin-top: 0; }
    .contenedorPago a {
      font-size: 1rem;
      background-color: #B590CA;
      border-radius: 1.5rem;
      padding: 8px; }
  .contenedorPago {
    height: 2px; }
  #gridDonar {
    grid-template-rows: 200px 100px  100px  50px  100px  100px; }
  /*transito*/
  #flexTransito {
    flex-direction: column;
    justify-content: center; }
  .contenedorConseguir {
    width: 70%;
    margin-top: 20px;
    margin-left: 0px; }
  .formuTran .row {
    width: 70%; }
  .formuTran input {
    font-size: 1rem; }
  .formuTran .btn {
    font-size: 1rem; }
  /*contacto*/
  .formContac {
    grid-area: a1;
    background-color: #A8D3DA;
    border-radius: 1.5rem;
    margin-top: 3rem;
    padding: 2rem; }
    .formContac input {
      font-size: 1rem; }
    .formContac .form-select {
      font-size: 1rem; }
    .formContac label {
      font-weight: bold; }
    .formContac legend {
      font-weight: bold;
      font-size: 1.2rem; }
    .formContac .btn {
      width: 100%;
      font-size: 1rem; }
    .formContac .form-control {
      font-size: 1rem; }
  .gatoLado {
    grid-area: a2;
    margin-right: 100px;
    margin-top: 50px; }
    .gatoLado img {
      grid-area: a2;
      width: 100px;
      margin-right: 200px; }
  #gridContac {
    display: grid;
    grid-template-columns: 50% 15%;
    grid-template-rows: 450px;
    justify-content: center; }
  /*inicio de sesion*/
  #gridSesion {
    grid-template-columns: 60%; }
  #formInicioSesion {
    height: 30rem; }
    #formInicioSesion form label {
      margin-left: 95px; }
    #formInicioSesion form .btn {
      margin-left: 5px; }
    #formInicioSesion form a {
      margin-left: 65px; }
    #formInicioSesion #emailHelp {
      display: none; }
  #formInicioSesion form .btn {
    margin-left: 0px; }
  #formInicioSesion form a {
    margin-left: 0px; }
  /*tuCuenta*/
  .formu .row {
    display: flex;
    flex-direction: column; }
  .formu .col {
    margin-left: 70px; }
  .formu .col.right {
    margin-left: 70px; } }

@media (max-width: 420px) {
  .navbar .navbar-toggler {
    font-size: 2rem; }
  .navbar li {
    font-size: 1.5rem; }
  /*adoptar*/
  #gridAdoptar1 {
    margin-top: 2rem;
    justify-content: left;
    margin-left: 0px;
    grid-template-columns: 50% 50%; }
    #gridAdoptar1 .textoAdopcion {
      margin-left: 0px;
      width: 97%; }
      #gridAdoptar1 .textoAdopcion p {
        font-size: 1.3rem; }
  .contenedorAdopcion {
    width: 100%;
    margin: 0; }
    .contenedorAdopcion ul {
      margin-right: 1rem; }
      .contenedorAdopcion ul li {
        line-height: 2rem; }
  .imgAdopcion {
    margin-left: 3rem; }
  #gridAdoptar2 {
    margin-top: 6rem; }
    #gridAdoptar2 a {
      padding: 0;
      font-size: 9px; }
  #gridAdoptar3 a {
    padding: 0;
    font-size: 9px; }
  /*trasito*/
  .formuTran label {
    font-weight: bold; }
  /*IniciaSesión*/
  #formInicioSesion form .btn {
    margin-left: 0px; }
  #formInicioSesion form a {
    margin-left: 0px; }
  /*donaciones*/
  .btn-group-lg > .btn, .btn-lg {
    font-size: 1.5rem; } }

@media (max-width: 320px) {
  /*index*/
  .mapa1 iframe {
    width: 100%;
    height: 50%; }
  .titulo2 {
    padding-right: 1rem; }
  .principal2 {
    display: none; }
  .titulo2 {
    margin-bottom: 1.5rem; }
  #gridMain4 {
    margin-top: 2rem; }
    #gridMain4 .contenedorTips1, #gridMain4 .contenedorTips2, #gridMain4 .contenedorTips3, #gridMain4 .contenedorTips4 {
      padding: 20px; }
  .navbar img {
    width: 100px; }
  .navbar .d-flex input {
    font-size: 1rem; }
  /*adoptar*/
  .contenedorAdopcion {
    width: 100%;
    margin-bottom: 0;
    margin-top: 2rem; }
    .contenedorAdopcion ul {
      margin-right: 1rem; }
      .contenedorAdopcion ul li {
        line-height: 2rem; }
  .textoAdopcion {
    display: none; }
  .imgAdopcion {
    margin-top: 1rem; }
  #gridAdoptar2 {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40px auto 50px auto 50px auto 50px auto 50px;
    grid-template-areas: "a1 a1" "a2 a3" "a8 a9" "a4 a5" "a10 a11" "a14 a15" "a20 a21" "a16 a17" "a22 a23";
    margin-right: 0px; }
    #gridAdoptar2 a {
      padding: 0;
      font-size: 1.5rem; }
  #gridAdoptar3 {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40px auto 50px auto 50px auto 50px auto 50px;
    grid-template-areas: "a1 a1" "a2 a3" "a8 a9" "a4 a5" "a10 a11" "a14 a15" "a20 a21" "a16 a17" "a22 a23";
    margin-right: 0px; }
    #gridAdoptar3 a {
      padding: 0;
      font-size: 1.5rem; }
  #gridAdoptar1 {
    display: flex;
    flex-direction: column;
    margin-left: 0px; }
  .tituloPerro {
    padding-top: 1rem; }
  .tituloGato {
    padding-top: 1rem; }
  /*transito*/
  .contenedorConseguir p {
    font-size: 1rem; }
  /*inicioSesion*/
  #formInicioSesion form .btn {
    margin-left: 0px; }
  #formInicioSesion form a {
    margin-left: 0px; }
  /*donaciones*/
  .contenedorPago {
    margin-top: 2rem; }
  .btn-group-lg > .btn, .btn-lg {
    font-size: 1rem; } }
