body{
  font-size: 2rem;
  background: whitesmoke;
 &.dark{
   background: $oscuroFondo;
 }
}
#gridDonar{
    display:grid; 
    grid-template-columns: 100%;
    grid-template-rows: 200px 100px  100px  100px  100px  100px;
    grid-template-areas: 
    "area1"
    "area2"
    "area3"
    "area4"
    "area5"
    "area6";
    margin-top: 3.125rem;
}
.imgDon{
    grid-area: area1;
    justify-self: center;
    img{
        width:200px;
    }
  }
  .contenedorGranito{
    grid-area: area2;
    justify-self: center;
    margin-top: 0.9375rem;
    p{
        color:$colorOscuro;
        font-size: 3rem;
        font-weight: bold; 
        body.dark &{
          color: whitesmoke;
        }
      }
}
.contenedorAyuda{
    grid-area: area3;
    justify-self: center;
    text-align: center;
    margin-top: 0.125rem;
    width: 100%;
  
    strong{
      color: $colorOscuro;
      body.dark &{
        color: whitesmoke;
      }
    }
    h2{
        margin-bottom: 0.9375rem;
        background-color:#f5cab3;
        border-radius: $redondeado;
        
        @include estiloTitulo($colorOscuro,3rem,$fontWeight);
        body.dark &{
          background: $oscuro2;
        }
      
      }
    }
  .contenedorPago{
    grid-area: area4;
    justify-self: center;
    margin-top: 2.8125rem;
    a{
        text-decoration: none;
        @include botones(20px, $colorMorado, 1.5rem, 8px);
        text-decoration: none;
        color: $colorOscuro;
        font-weight: bold;
        
        body.dark &{
          @include botones(20px, $oscuro1, 1.5rem, 8px);
          }
      &:hover{
        color:azure;
    } 
  }
}
  .contenedorDonar{
   @extend.contenedorAyuda;
    grid-area: area5;
    
    p{
     font-size: 2rem;
      margin-top: 0.9375rem;
      text-align: center;
      font-weight: bold;
      body.dark &{
      color: whitesmoke;
      }
     }
      h3{
        background-color:$colorRosa;
        border-radius:$redondeado;
        @include estiloTitulo($colorOscuro,3rem,$fontWeight);
        body.dark &{
          background: $oscuro2;
        }
    }

    }
  .botonDonar{
     
    grid-area: area6;
    margin-top: 2rem;

    
  }
  .mx-auto{
    background-color:$colorMorado;
    border-radius: $redondeado;
    body.dark &{
      background: $oscuro1;
    }
    
  }
  .btn-group-lg>.btn, .btn-lg{
    font-size: 2rem;
    font-weight: bold;
    color: $colorOscuro;
    &:hover{
      color:azure;}
      body.dark &{
        &:hover{
          color:azure;}
      }
  }
 
        
    