
#gridSesion{
    display: grid;
    grid-template-columns: 30%;
    grid-template-rows: 100px 330px;
    grid-template-areas: "a1"
    "a2";
    justify-content: center;
}
.imagenS{
    grid-area: a1;
    justify-self: center;
    img{
        width: 100px;
       
    }
}
#formInicioSesion{
    
    background-color: $colorAzul;
    width:100%;
    border-radius: 15px;
    height: auto;
    grid-area: a2;
    form{
        
       input{
         width:80%;
         margin-left: auto;
         margin-right: auto;
         font-size: 2rem;
       }
       label{
         
        margin-left:170px;
        font-weight: bold;
        
       }
       #emailHelp{
           margin-left: 3rem;
       }
      .form-label1{
       margin-top: 2rem;
      }
      .btn{

          margin-top: 1rem;
          margin-left: 1rem;
          font-size: 2rem;
          width: 92%;
      }
     a{
         margin-left: 8rem;
         margin-bottom: 2rem;
         font-weight: bold;
         
     }
    }

}