
#gridSesion{
    display: grid;
    grid-template-columns: 30%;
    grid-template-rows: 100px 330px;
    grid-template-areas: "a1"
    "a2";
    justify-content: center;
    margin-top: 2rem;
}
.imagenS{
    grid-area: a1;
    justify-self: center;
    img{
        width: 100px;
       
    }
}
#formInicioSesion{
    
    background-color: $colorAzul;
    width:100%;
    border-radius: $redondeado;
    height: auto;
    grid-area: a2;
    padding-left: 20px;
    padding-right: 20px;
    body.dark &{
        background: $oscuro3;
    }
    
        input{
         width:100%;
         margin-left: auto;
         margin-right: auto;
         font-size: 2rem;
       }
       label{
         
        
        font-weight: bold;
        
       }
       #emailHelp{
         font-size: 1.5rem;
         text-align: center;
         display: inline-block;
       }
      .form-label1{
       margin-top: 2rem;
      }
      .btn{
          width: 100%;
          margin-top: 20px;
          padding: 0;
      }
      .btn-primary{

            font-size: 2rem;
            width: 100%;
            margin-bottom: 1rem;
            background: $colorMorado;
            border: $colorMorado;
            margin: 0;
            padding: 0;
            height: 50px;
            &:hover{
                background:#a987bd;
            }
      }
    a{
       
        margin-top: 2rem;
        font-weight: bold;
       text-align: center;
       width: 100%;
       display: inline-block;
       color: $colorOscuro;
       &:hover{
           color: whitesmoke;
       }
       body.dark &{
           color: whitesmoke;
           &:hover{
               color: rgb(173, 170, 170);
           }
       }
    }
    .form-check{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

}
#formInicioSesion form .btn{
    margin-left: 0px;
}