@media (max-width:768px){
    .switch{
        margin-bottom: 2rem;
    }
  /*index*/
  body{
    font-size: 1rem;
    padding: 0;
    overflow-x: hidden;
    overflow-y: visible;}  
    .navbar{
        .navbar-toggler{
            font-size: 2.5rem;
        }
        li{
            font-size: 2rem;
        }
    }
    .mapa1{
        iframe{
            width: 100%;
        }
    }
    .flexMain1{
        flex-direction: column-reverse;
        
        h1{
            font-size: 2rem;
            text-align: center;
        }
        .imagenP{
            margin-left: auto;
            margin-right: auto;
            width: 40%;
        }
    }
    .flexMain2{
        flex-direction: column-reverse;
        h2{
            font-size: 2rem;
        }
        
    }
    #gripMain2{
        grid-template-columns:50% 50%;
        grid-template-rows: 200px 60px 200px 60px;
        grid-template-areas:
        "area2 area3" 
        "area6 area7"
        "area4 area5" 
        "area8 area9";
        margin-top: 2.5rem;
}
#gridMain4{
        grid-template-columns:auto auto;
        grid-template-rows: 60px auto auto;
        grid-template-areas:"a1 a1"
        "a3 a4"
        "a5 a6";
       
    .contenedorTips1{
        padding: 15px;
        margin: 0;
        p{
            padding: 0px;
            margin: 0;  
            padding: 0.625rem; 
        }
    }
    h3{
        font-size: 2.5rem;
    }
}
.principal2{
        
    margin-top: 0;
    margin-left: 48rem;
    img{
        display: none;
}
}
#gripMain2{
.opcion1{
    img{
        width: 180px;
    }
}

a{
    font-size: 1.5rem;
}
}
.rectangulo1{
    margin-top: 22.5rem;
}
/*adopcion*/
#gridAdoptar1{
    
    grid-template-columns: 50% 30%;
    grid-template-rows: auto auto;
    justify-content: center;
    
    .imgAdopcion{
        align-self: center;
        img{
            width: 150px;
        }
    }
    h2{
        font-size: 2rem;
    }
    .textoAdopcion{
        width: 100%;
        margin-left: 1.25rem;
        margin-top: 2rem;
        
        p{
           font-size:2rem;
           
        }
    }
}

#gridAdoptar2{
    margin-top:2rem;
    grid-template-rows: auto auto auto auto auto;
    h3{
        font-size: 2rem;
    }
    a{
        font-size: 1.5rem;
    }
}
#gridAdoptar3{
    margin-top:1rem;
    grid-template-rows: auto auto auto auto auto;
    h3{
        font-size: 2rem;
    }
    a{
        font-size: 1.5rem;
    }
}
/*formularioAdopcion*/
.formuAdo{
    width: 60%;
    input{
        font-size: 1.5rem;
    }
    .form-select{
        font-size: 1.5rem;
    }
    .btn{
        font-size: 2rem;}
}
.tituloAdo{
    
    h2{
    @include estiloTitulo($colorMorado,2.5rem,$fontWeight);
text-align: center;
margin-bottom: 1.875rem;
margin-top: 1.25rem;}
}
/*donaciones*/
p{
    font-size: 2rem;
    }
    .contenedorDonar{
        p{
            font-size: 2rem;
        }
    }
    .botonDonar{
        margin-top: 0;
        a{
            @include botones(1.5rem, $colorMorado, 2rem, 8px);
            }
    }
    .contenedorDonar{
        margin-top: 0px;
    h3{
           
        @include estiloTitulo($colorOscuro,2.5rem,$fontWeight);
    }
    }
    .contenedorAyuda{
        h2{
            @include estiloTitulo($colorOscuro,2.5rem,$fontWeight);
        }
        strong{
            font-size: 2rem;
        }
    }
    .contenedorGranito{
        p{
            font-size: 2.5rem;
            text-align: center;
        }
    }
    .contenedorPago{
        margin-top: 2rem;
       a{
         @include botones(1.5rem, $colorMorado, 2rem, 8px);
        }
    }
    .contenedorPago{
       height: 2px;
    }
    #gridDonar{
        grid-template-rows: 200px 100px  100px  50px  130px  100px;
    }
    /*transito*/
#flexTransito{
    flex-direction: column;
    justify-content: center;
}
.contenedorConseguir{
    width: 70%;
    margin-top: 20px;
    margin-left: 0px;
    p{font-size: 1.5rem;}
}
.formuTran{
    .row{
    width: 70%;}
    input{
        font-size: 1.5rem;
    }
    .btn{
        font-size: 2rem;
    }
}
/*contacto*/
.formContac{
    grid-area:a1;
    background-color:$colorAzul;
    border-radius: 1.5rem;
    margin-top: 3rem;
    padding: 2rem;
    
    input{
        font-size: 1.5rem;
    }
    .form-select{
        font-size: 1.5rem;}
    label{
        font-weight: bold;
    }
    legend{
        font-weight: bold;
        font-size: 1.5rem;
    } 
    .btn{
       width: 100%;
       font-size: 1.5rem;
    }
    .form-control{
        font-size: 1.5rem;
    }
    }

.gatoLado{
    grid-area:a2;
    margin-right: 100px;
    margin-top: 50px;
    
 img{
    grid-area:a2;
    width: 130px;
    margin-right: 200px;
   
 }
}
#gridContac{
    display: grid;
    grid-template-columns: 50% 15%;
    grid-template-rows:auto;
    justify-content: center;
}
/*inicio de sesion*/
#gridSesion{
    grid-template-columns: 50%;
    
    
}
#formInicioSesion{
    height:auto;
form label {
    margin-left: 120px;}
    font-size: 1.5rem;
    form .btn{
        margin-left: 8px;
        font-size: 1.5rem;
    }
    form a{
        margin-left: 60px;
    }
    
}
#formInicioSesion form .btn{
    margin-left: 0px;
 }
 #formInicioSesion form a{
    margin-left: 0px;
}
}
@media (max-width: 600px){
    .switch{
        margin-bottom: 2rem;
    }
    /*index*/
    body{
        font-size: 1rem;
        padding: 0;
        overflow-x: hidden;
        overflow-y: visible;}
    .rectangulo1{
            width: 100%;
            margin-top: 22.5rem;
    }
    .navbar{
        .navbar-toggler{
            font-size: 2.5rem;
        }
        li{
            font-size: 2rem;
        }
    }
    .flexMain1{
        flex-direction: column-reverse;
        
        h1{
            font-size: 2rem;
            text-align: center;
        }
        .imagenP{
            margin-left: auto;
            margin-right: auto;
            width: 40%;
        }
        p{
            font-size: 1.5rem;
        }
    }
    .flexMain2{
        flex-direction: column-reverse;
        h2{
            font-size: 2rem;
        }
        .mapa1{
            iframe{
                width: 100%;
            }
        }
        p{
            font-size: 1.5rem
        }
    }
    .flexMain2{
        flex-direction: column-reverse;
        h2{
            font-size: 2rem;
        }
        .mapa1{
            iframe{
                width: 100%;
            }
        }
    }
    #gripMain2{
        grid-template-columns:50% 50%;
        grid-template-rows: 200px 60px 200px 60px;
        grid-template-areas:
        "area2 area3" 
        "area6 area7"
        "area4 area5" 
        "area8 area9";
        margin-top: 2.5rem;
        .opcion1{
            img{
                width: 150px;
            }
        }
       
        a{
            font-size: 1.2rem;
        }
        
         .titulo2{
             h3{
                 font-size:1rem;
             }
         } 
    }
    #gridMain4{
        grid-template-columns:auto;
        grid-template-rows: 60px auto auto auto auto;
        grid-template-areas:"a1"
        "a3"
        "a4"
        "a5"
        "a6";
        margin-top: 1.5rem;
        .contenedorTips1{
            padding: 1.5rem;
            margin: 0;
            p{
                padding: 0px;
                margin: 0;  
                padding: 0.625rem; 
                font-size: 1.5rem
            }
        }
        h3{
            font-size: 1.8rem;
        }
        
    }
    .principal2{
      
        img{
           display: none;
    }
}
.titulo2{
    width: 80%;
    margin-bottom: 1.5rem;
    
}
.contenedorFooter{
    align-items: center;
    a{
        margin-right: 0.625rem;
    }
    img{
        width: 20px;
    }
}
/*Adoptar*/
#gridAdoptar1{
    
    grid-template-columns: 50% 30%;
    grid-template-rows: auto 200px;
    justify-content: center;
    grid-template-areas:
    "area1 area2"
    "area3 area3";
    .imgAdopcion{
        margin-left: 2rem;
        img{
            width: 150px;
        }
    }
    h2{
        font-size: 1.5rem;
    }
    .textoAdopcion{
        width: 100%;
        margin-left: 1.25rem;
        margin-top: 2rem;
        
        p{
           font-size:1.6rem;
           
        }
    }
}
.contenedorAdopcion{
    width: 100%;
}
#gridAdoptar2{
    margin-top:2rem;
    grid-template-rows: auto auto auto auto auto;
    h3{
        font-size: 1.5rem;
    }
    a{
        font-size: 1rem;
    }
}
#gridAdoptar3{
    margin-top:1rem;
    grid-template-rows: auto auto auto auto auto;
    h3{
        font-size: 1.5rem;
    }
    a{
        font-size: 1rem;
    }
}
/*formulario adopción*/
.formuAdo{
    width: 60%;
    input{
        font-size: 1rem;
    }
    .form-select{
        font-size: 1rem;
    }
    .btn{
        font-size: 1rem;}
}
.tituloAdo{
    
    h2{
    @include estiloTitulo($colorMorado,2rem,$fontWeight);
text-align: center;
margin-bottom: 1.875rem;
margin-top: 1.25rem;}
}
/*donaciones*/
p{
font-size: 1.5rem;
}
.contenedorDonar{
    p{
        font-size: 1.5rem;
    }
}
.botonDonar{
    margin-top: 0;
    a{
        @include botones(1rem, $colorMorado, 1.5rem, 8px);
        }
}
.contenedorDonar{
    margin-top: 0px;
h3{
       
    @include estiloTitulo($colorOscuro,2rem,$fontWeight);
}
p{
    font-size: 1.5rem;
}
}
.contenedorAyuda{
    h2{
        @include estiloTitulo($colorOscuro,2rem,$fontWeight);
    }
    strong{
        font-size: 1.5rem;
    }
}
.contenedorGranito{
    p{
        font-size: 2rem;
        text-align: center;
    }
}
.contenedorPago{
    margin-top: 0;
   a{
     @include botones(1rem, $colorMorado, 1.5rem, 8px);
    }
}
.contenedorPago{
   height: 2px;
}
#gridDonar{
    grid-template-rows: 200px 100px  100px  50px  100px  100px;
}
/*transito*/
#flexTransito{
    flex-direction: column;
    justify-content: center;
}
.contenedorConseguir{
    width: 70%;
    margin-top: 20px;
    margin-left: 0px;
}
.formuTran{
    .row{
    width: 70%;}
    input{
        font-size: 1rem;
    }
    .btn{
        font-size: 1rem;
    }
}
/*contacto*/
.formContac{
    grid-area:a1;
    background-color:$colorAzul;
    border-radius: 1.5rem;
    margin-top: 3rem;
    padding: 2rem;
    
    input{
        font-size: 1rem;
    }
    .form-select{
        font-size: 1rem;}
    label{
        font-weight: bold;
    }
    legend{
        font-weight: bold;
        font-size: 1.2rem;
    } 
    .btn{
       width: 100%;
       font-size: 1rem;
    }
    .form-control{
        font-size: 1rem;
    }
    }

.gatoLado{
    grid-area:a2;
    margin-right: 100px;
    margin-top: 50px;
    
 img{
    grid-area:a2;
    width: 100px;
    margin-right: 200px;
   
 }
}
#gridContac{
    display: grid;
    grid-template-columns: 50% 15%;
    grid-template-rows:450px;
    justify-content: center;
}
/*inicio de sesion*/
#gridSesion{
    grid-template-columns: 60%;
    
}
#formInicioSesion{
    height: 30rem;
form label {
    margin-left: 95px;}
    form .btn{
        margin-left: 5px;
    }
    form a{
        margin-left: 65px;
    }
    #emailHelp{
        display: none;
    }
}
#formInicioSesion form .btn{
    margin-left: 0px;
 }
 #formInicioSesion form a{
    margin-left: 0px;
}
/*tuCuenta*/
.formu .row{
    display: flex;
    flex-direction: column;
    
}
.formu .col{
margin-left: 70px;
}

.formu .col.right {
    margin-left: 70px;
}
}
@media (max-width:420px){
    .switch{
        margin-bottom: 2rem;
    }
    .navbar{
        .navbar-toggler{
            font-size: 2rem;
        }
        li{
            font-size: 1.5rem;
        }
    }
    /*adoptar*/
    #gridAdoptar1{
        margin-top: 2rem;
        justify-content: left;
        margin-left:0px;
        grid-template-columns: 50% 50%;
       
        .textoAdopcion{
            margin-left: 0px;
            width: 97%;
            p{
                font-size: 1.3rem;
            }
        }
     
    }
    .contenedorAdopcion{
       
        width: 100%;
        margin:0;
      ul{
        margin-right: 1rem;
      li{
       line-height: 2rem;
       }
        }
    }
    
    .imgAdopcion{
        margin-left: 3rem;
    }
    #gridAdoptar2{
        margin-top: 6rem;
        a{
            padding: 0;
           font-size: 9px;
        }
    }
    #gridAdoptar3{
        a{
            padding: 0;
           font-size: 9px;
        }
    }
    /*trasito*/
    .formuTran{
        label{
            font-weight: bold;
          }
    }
    /*IniciaSesión*/
    
     #formInicioSesion form .btn{
        margin-left: 0px;
     }
     #formInicioSesion form a{
        margin-left: 0px;
    }
    /*donaciones*/
    .btn-group-lg>.btn, .btn-lg{
        font-size: 1.5rem;
    }
}
@media (max-width: 320px){
  /*index*/
  .mapa1{
    iframe{
        width: 100%;
        height: 50%;
    }
} 
.titulo2{
    padding-right: 1rem;
} 
.principal2{
    display: none;
}
.titulo2{
    margin-bottom: 1.5rem;
}
#gridMain4{
    margin-top: 2rem;
    .contenedorTips1{
        padding: 20px;
    }
}
.navbar{
    img{
        width: 100px;
    }
}
.navbar{
.d-flex input{
    font-size: 1rem;
}
}
/*adoptar*/
.contenedorAdopcion{
    width: 100%;
    margin-bottom: 0;
    margin-top: 2rem;
    
    
ul{
    margin-right: 1rem;
  li{
   line-height: 2rem;
   
    }
}
}
.textoAdopcion{
display: none;


}
.imgAdopcion{
  margin-top: 1rem;
}
#gridAdoptar2{
    margin-top:2rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40px auto 50px auto 50px auto 50px auto 50px;
    grid-template-areas: "a1 a1" "a2 a3" "a8 a9" "a4 a5" "a10 a11" "a14 a15" "a20 a21" "a16 a17" "a22 a23";
    margin-right: 0px;
    a{
        padding: 0;
       font-size: 1.5rem;
    }
}
#gridAdoptar3{
    margin-top:2rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40px auto 50px auto 50px auto 50px auto 50px;
    grid-template-areas: "a1 a1" "a2 a3" "a8 a9" "a4 a5" "a10 a11" "a14 a15" "a20 a21" "a16 a17" "a22 a23";
    margin-right: 0px;
    a{
        padding: 0;
       font-size: 1.5rem;
    }
}
#gridAdoptar1{
  display: flex;
  flex-direction: column;
  margin-left: 0px;
}
.tituloPerro{
    padding-top: 1rem;
}
.tituloGato{
    padding-top: 1rem;
}
/*transito*/
.contenedorConseguir{
    p{
        font-size: 1rem;
    }
}
/*inicioSesion*/
#formInicioSesion form .btn{
    margin-left: 0px;
}
#formInicioSesion form a{
    margin-left: 0px;
}
/*donaciones*/
.contenedorPago{
    margin-top: 2rem;
}
.btn-group-lg>.btn, .btn-lg{
    font-size: 1rem;
}
.switch{
    margin-bottom: 2rem;
}
}